/ugoki.client/.vscode

/ugoki.client/node_modules
/ugoki.client/obj
.editorconfig
.vs
/obj

/Ugoki.Data/obj
/Ugoki.Data/bin

/Ugoki.Domain/obj
/Ugoki.Domain/bin

/Ugoki.Application/obj
/Ugoki.Application/bin

/Ugoki.Server/obj
/Ugoki.Server/bin
/Ugoki.Server/Properties
/Ugoki.Server/appsettings.Development.json
/Ugoki.Server/appsettings.json
/Ugoki.Server/Ugoki.Server.csproj.user

/Ugoki.IdentityApi/obj
/Ugoki.IdentityApi/bin
/Ugoki.IdentityApi/Properties
/Ugoki.IdentityApi/appsettings.Development.json
/Ugoki.IdentityApi/appsettings.json
/Ugoki.IdentityApi/Ugoki.IdentityApi.csproj.user
/Ugoki.IdentityApi/Ugoki.IdentityApi.http


Ugoki.slnLaunch.user