/ugoki.client/.vscode

/ugoki.client/node_modules
/ugoki.client/obj
.editorconfig
.vs
/obj

/Ugoki.Data/obj
/Ugoki.Data/bin

/Ugoki.Domain/obj
/Ugoki.Domain/bin

/Ugoki.Application/obj
/Ugoki.Application/bin

/Ugoki.Server/obj
/Ugoki.Server/bin
/Ugoki.Server/Properties
/Ugoki.Server/appsettings.Development.json
/Ugoki.Server/Ugoki.Server.csproj.user

Ugoki.slnLaunch.user