@import './base.css';
@import "tailwindcss";

body {
  background-color: #f8f9fa;
  margin: 0 auto;
}

#app {
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  
}

@media (max-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
